@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-bebas: var(--font-bebas);

  --color-background: #141414;
  --color-foreground: #e5e5e5;
  --color-netflix-red: #E50914;
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}